body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
#name{
    text-align: right;
}
.heading-name{
    color: #0A96c3;
    margin-bottom: 0;
}
.heading-course{
    margin-top: 0px;
    margin-bottom: 0;
}
span{
    color: #0A96c3;  
    }
.emai{
    margin-bottom: 0;
    font-size: 20px;
}
.github{
    margin: 0%;
    font-size: 20px;
}
.address{
    font-size: 20px;
}
.summary{
    display: flex;
    color: white;
    background-color: #0A96c3;
    height: 50px;
    align-items: center;
    border: black 0.1px solid;
    
    
}
.sum-det{
    margin-top: 5px;
    
    height: 100%;
}
.sum-det > p{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
}
.ke{
    margin-top: 10px;
    display: flex;
    color: white;
    background-color: #0A96c3;
    height: 50px;
    align-items: center;
    border: black 0.1px solid;
    
}
.ket{
    display: grid;
}
.expertise{
    height: 30px;
    border-radius: 20px;
    background-color: #F7EFE5;
    margin-top: 10px;
    text-align: center;
    margin-left: 25px;
}

.items{
    width: 100%;
    background-color: white;
}
.ed{
    background-color: #F7EFE5;
    display: flex;
    color: white;
    background-color: #0A96c3;
    height: 50px;
    align-items: center;
    border: black 0.1px solid;
    margin-top: 10px;
    }
    .edpara{
        font-size: 20px;
    }
.high-school{
    margin-top: 10px;
    }
.year{
margin: 0;
margin-top: 10px;
padding: 0;
color: black;
text-align: right;
float: right;
font-size: medium;
font-weight: 4./00;
}
.proj{
    background-color: #F7EFE5;
    display: flex;
    color: white;
    background-color: #0A96c3;
    height: 50px;
    align-items: center;
    border: black 0.1px solid;
    margin-top: 10px;
}
.hd{
    width: 140px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    
}
.sht{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color: #F7EFE5;
    margin-top: 10px;
    text-align: center;
    margin-left: 20px;
    font-size: 20px;
}
.css{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color: #F7EFE5;
    margin-top: 10px;
    text-align: center;
    margin-left: 20px;
    font-size: 20px;
}
.bst{
    width: 105px;
    height: 30px;
    border-radius: 20px;
    background-color: #F7EFE5;
    margin-top: 10px;
    text-align: center;
    margin-left: 20px;
    font-size: 20px;
}
.leadership{ 
    width: 120px;
    height: 35px;
    border-radius: 20px;
    background-color: #F7EFE5;
    margin-top: 10px;
    text-align: center;
    margin-left: 20px;
    font-size: 20px;
}

.projco{
    width: 215px;
    height: 35px;
    border-radius: 20px;
    background-color: #F7EFE5;
    margin-top: 10px;
    text-align: center;
    margin-left: 20px;
    font-size: 20px;
}
.projma{
    width: 255px;
    height: 35px;
    border-radius: 20px;
    background-color: #F7EFE5;
    margin-top: 10px;
    text-align: center;
    margin-left: 5px;
    font-size: 20px;
}
.website
{
    margin-top: 20px;
}
.website > h4{
    display: inline;
}
.website > p{
    display: inline;
    font-size: 20px;
}
.bluecar{
    margin-top: 20px;
}
.bluecar > h4{
display: inline;
}
.bluecar > p{
display: inline;
font-size: 20px;
}
.key-ardu{
    display: grid;
    width: 100%;
    grid-template-rows: 1fr;
}
.keys-web{
    margin-bottom: 5px;
}
.descar{
    font-size: 20px;
    text-align: justify;
    
}
.intern{
    background-color: #F7EFE5;
    display: flex;
    color: white;
    background-color: #0A96c3;
    height: 50px;
    align-items: center;
    border: black 0.1px solid;
    margin-top: 10px;
}
.tryear{
margin-top: 5px;
padding: 0;
color: black;
margin-bottom: 10px;
}
.trainee{
    margin-top: 10px;
}
.trainee > h2{
    display: inline;
    margin-bottom: 15px;
    padding: 0;
}
.trainee > p{
    margin-top: 5px;
    font-size: 20px;
    text-align: justify;
}

.trainee >h6{
    margin: 0;
    text-align: right;
}
.hob{
    background-color: #F7EFE5;
    display: flex;
    color: white;
    background-color: #0A96c3;
    height: 50px;
    align-items: center;
    border: black 0.1px solid;
    margin-top: 10px;
}
.football{
    margin-top: 10px;
}
.pd{
    background-color: #F7EFE5;
    display: flex;
    color: white;
    background-color: #0A96c3;
    height: 50px;
    align-items: center;
    border: black 0.1px solid;
    margin-top: 10px;
}
.det-size{
    margin-bottom: 10px;
}
.det-size > h4{
    margin: 0;
    padding: 0;
    display: inline;
    }
.left{
    width: 50%;
   }
.right{
    text-align: right;
    }
.pr-det p{
    margin: 0;
    padding: 0%;
    display: inline;
    font-size: 20px;
}
.pr-det{
    display: grid;
    grid-template-columns: 62% 38%;
}

.cer{
    background-color: #F7EFE5;
    display: flex;
    color: white;
    background-color: #0A96c3;
    height: 50px;
    align-items: center;
    border: black 0.1px solid;
    margin-top: 10px;
}
.certi{
    height: 30px;
    border-radius: 20px;
    background-color: #F7EFE5;
    margin-top: 10px;
    text-align: center;
    margin-left: 25px; 
}


@media (max-width:768px){
    .expertise,.certi{
        margin-left: 0;
    }
    .hd{
        width: 125px;
    }
    .hob,.intern,.ke,.ed,.summary,.proj,.pd,.cer{
        justify-content: center;
       
    }
    .hob{
        height: 65px;
    }
    #hobbies{
        margin-top: 20px;
        margin-bottom: 20px;
        
        
    }
    .year{
        margin-top: 0px;
        width: 500px;
    }
    
     }

@media (max-width:262px)   {
    .projma{
        height: 57px;
    }
}  


    
